### Apriori Algorithm

In [1]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
dataset=[["Bread","Milk","Beer"],["Bread","Diapers","Eggs"],["Milk","Diapers","Beer","Cola"],["Bread","Milk","Diapers","Beer"],["Bread","Milk","Cola"]]

In [2]:
te=TransactionEncoder()
te=te.fit(dataset)   #Read all unique items
te_ary=te.transform(dataset)  # creates a matrix
print(te.columns_)
print(te_ary)

['Beer', 'Bread', 'Cola', 'Diapers', 'Eggs', 'Milk']
[[ True  True False False False  True]
 [False  True False  True  True False]
 [ True False  True  True False  True]
 [ True  True False  True False  True]
 [False  True  True False False  True]]

In [3]:
df=pd.DataFrame(te_ary,columns=te.columns_)
df

    Beer  Bread   Cola  Diapers   Eggs   Milk
0   True   True  False    False  False   True
1  False   True  False     True   True  False
2   True  False   True     True  False   True
3   True   True  False     True  False   True
4  False   True   True    False  False   True

In [4]:
#filter a single product
frequent_itemsets=apriori(df,min_support=0.6,use_colnames=True)
frequent_itemsets

   support       itemsets
0      0.6         [Beer]
1      0.8        [Bread]
2      0.6      [Diapers]
3      0.8         [Milk]
4      0.6   [Beer, Milk]
5      0.6  [Bread, Milk]

In [5]:
#Pair
from mlxtend.frequent_patterns import association_rules
rules=association_rules(frequent_itemsets,metric="confidence",min_threshold=0.5)
rules

,antecedants,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Beer),(Milk),0.6,0.8,0.6,1.00,1.2500,0.12,inf
1,(Milk),(Beer),0.8,0.6,0.6,0.75,1.2500,0.12,1.600000
2,(Milk),(Bread),0.8,0.8,0.6,0.75,0.9375,-0.04,0.800000
3,(Bread),(Milk),0.8,0.8,0.6,0.75,0.9375,-0.04,0.800000

## VIP

In [6]:
#rules[rules['antecedent'].apply(lambda x: set(['Milk']).issubset(x))]
CartItem=["Milk"]
#rules["antecedants"].apply(lambda x: set(CartItem).issubset(set(x)))
#rules[rules["antecedants"].apply(lambda x: set(CartItem).issubset(set(x)))]
#print(rules)
#rules[rules["antecedants"].apply(lambda x: set(CartItem).issubset(set(x)))]['consequents'].tolist()
a=rules[rules["antecedants"].apply(lambda x: set(CartItem).issubset(set(x)))]['consequents']
print(a)

1     (Beer)
2    (Bread)
Name: consequents, dtype: object

In [7]:
rules[rules['support']==rules['support'].max()]

,antecedants,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Beer),(Milk),0.6,0.8,0.6,1.00,1.2500,0.12,inf
1,(Milk),(Beer),0.8,0.6,0.6,0.75,1.2500,0.12,1.600000
2,(Milk),(Bread),0.8,0.8,0.6,0.75,0.9375,-0.04,0.800000
3,(Bread),(Milk),0.8,0.8,0.6,0.75,0.9375,-0.04,0.800000

In [8]:
print(rules["support"])
#print(rules["antecedent support"])
print(rules["antecedants"])

0    0.6
1    0.6
2    0.6
3    0.6
Name: support, dtype: float64
0     (Beer)
1     (Milk)
2     (Milk)
3    (Bread)
Name: antecedants, dtype: object

In [9]:
a=['Milk','Beer','Egg','Bread']
b=set(a)
print(b,type(b))

{'Beer', 'Egg', 'Bread', 'Milk'} <class 'set'>

### issubset=

In [10]:
items=['Bread','Beer']
#items=['Bread','Beer','Water']
set(items).issubset(b)

True

In [11]:
#symmetric difference
a=set(['Milk','Beer','Eggs'])
b=set(['Milk','Pen'])
a^b

{'Beer', 'Eggs', 'Pen'}

In [12]:
a1=set(['Milk','Beer','Eggs','Water'])
b1=set(['Milk','Eggs'])
print(a1-b1)
print(b1-a1)

{'Beer', 'Water'}
set()

#### Create rules such that confidence is at least 0.75

In [13]:
frequent_itemsets=apriori(df,min_support=0.4,use_colnames=True)
frequent_itemsets
from mlxtend.frequent_patterns import association_rules
rules=association_rules(frequent_itemsets,metric="confidence",min_threshold=0.75)
rules

,antecedants,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Beer),(Milk),0.6,0.8,0.6,1.0,1.250000,0.12,inf
1,(Cola),(Milk),0.4,0.8,0.4,1.0,1.250000,0.08,inf
2,"(Beer, Bread)",(Milk),0.4,0.8,0.4,1.0,1.250000,0.08,inf
3,"(Beer, Diapers)",(Milk),0.4,0.8,0.4,1.0,1.250000,0.08,inf
4,"(Diapers, Milk)",(Beer),0.4,0.6,0.4,1.0,1.666667,0.16,inf