In [1]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
dataset=[["Bread","Milk","Beer"],["Bread","Diapers","Eggs"],["Milk","Diapers","Beer","Cola"],["Bread","Milk","Diapers","Beer"],["Bread","Milk","Cola"]]
dataset

[['Bread', 'Milk', 'Beer'],
 ['Bread', 'Diapers', 'Eggs'],
 ['Milk', 'Diapers', 'Beer', 'Cola'],
 ['Bread', 'Milk', 'Diapers', 'Beer'],
 ['Bread', 'Milk', 'Cola']]

In [2]:
te=TransactionEncoder()
te=te.fit(dataset)   #Read all unique items
te_ary=te.transform(dataset)  # creates a matrix
df=pd.DataFrame(te_ary,columns=te.columns_)
df

    Beer  Bread   Cola  Diapers   Eggs   Milk
0   True   True  False    False  False   True
1  False   True  False     True   True  False
2   True  False   True     True  False   True
3   True   True  False     True  False   True
4  False   True   True    False  False   True

In [3]:
frequent_itemsets=apriori(df,min_support=0.6,use_colnames=True)
#frequent_itemsets
from mlxtend.frequent_patterns import association_rules
rules=association_rules(frequent_itemsets,metric="confidence",min_threshold=0.5)
rules

,antecedants,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Beer),(Milk),0.6,0.8,0.6,1.00,1.2500,0.12,inf
1,(Milk),(Beer),0.8,0.6,0.6,0.75,1.2500,0.12,1.600000
2,(Milk),(Bread),0.8,0.8,0.6,0.75,0.9375,-0.04,0.800000
3,(Bread),(Milk),0.8,0.8,0.6,0.75,0.9375,-0.04,0.800000